<h2 class="ui center aligned icon header">
  <i class="inverted circular teal coffee icon"></i>
  Message Me
</h2>
<br><br>
<div class="ui container">
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:user, :html => {class: "ui form", role: "form"}, url: sign_up_path) do |f| %>
        <div class="field">
          <%= f.label :username %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: "Username" %>
            <i class="user teal icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock teal icon"></i>
          </div>
        </div>

        <div class="field">
          <%= f.label :confirm_password %>
          <div class="ui left icon input">
            <%= f.password_field :confirm_password, placeholder: "confirm password" %>
            <i class="lock teal icon"></i>
          </div>
        </div>
        <%= f.submit class: "ui submit teal button", value: "Sign up" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <i class="teal lock icon"></i>
        <%= link_to "Sign in", sign_in_path %>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
</div>
